*.a
*.o
*.pyc
/*/Grammar/Makefile
/*/Grammar/graminit.c
/*/Grammar/graminit.h
/*/Makefile
/*/Modules/Makefile
/*/Modules/Makefile.pre
/*/Modules/Setup
/*/Modules/Setup.config
/*/Modules/Setup.local
/*/Modules/Setup.thread
/*/Modules/add2lib
/*/Modules/config.c
/*/Modules/hassignal
/*/Objects/Makefile
/*/Objects/add2lib
/*/Parser/Makefile
/*/Parser/add2lib
/*/Parser/pgen
/*/Python/Makefile
/*/Python/add2lib
/*/buildno
/*/config.cache
/*/config.h
/*/config.log
/*/config.status
/*/python
/*/src/python
/bin
