*.a
*.o
*.pyc

/*/Makefile
/*/Modules/Makefile
/*/Modules/Makefile.pre
/*/Modules/Setup
/*/Modules/Setup.local
/*/Modules/config.c
/*/Objects/Makefile
/*/Parser/Makefile
/*/Parser/pgen
/*/Python/Makefile
/*/config.h
/*/config.cache
/*/config.log
/*/config.status
/*/python
